# General
.DS_Store
Thumbs.db
*.log
# Remove package-lock.json from here to allow it to be tracked by default

# Environment Variables (Secrets)
.env
backend/.env
frontend/.env
*.env.local
*.env.development
*.env.production

# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Backend Build Artifacts
backend/dist/
postgres_data/

# Frontend Build Artifacts
frontend/build/
frontend/dist/

# IDE & Editor Directories
.vscode/
.idea/

# Database dumps and backups
*.dump
*.sql
!backend/database.sql

#docker data
postgres_data