.DS_Store
Thumbs.db
*.txt
*.log
*.tmp

.env
*.env.local
*.env.development
*.env.production
backend/.env
frontend/.env

node_modules/
**/node_modules/
npm-debug.log

backend/dist/
frontend/dist/
frontend/build/
frontend/dist-ssr/

.vscode/
.idea/
*.swp
*.swo

postgres_data/
pgdata/
*.dump

yarn-debug.log
yarn-error.log

!docker-compose.yml
!backend/Dockerfile
!frontend/Dockerfile
!frontend/nginx.conf